[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
sund = {file = "https://isbgroup.eu/sund-toolbox/releases/sund-1.1.0.tar.gz"}
jupyter = "*"
ipywidgets = "*"

[dev-packages]
pandas = "*"

[requires]
python_version = "3.12"
